*{
    background-color: rgb(3, 3, 66);
}
.moon{
    border:  rgb(3, 3, 66) 3px solid;
    width:20rem;
    height:20rem ;
    border-radius:200px ;
    box-shadow: 3em 1em rgb(236, 236, 148) ;
margin-left:30rem;
margin-top: 10rem;
display: inline-block;
}